/*PAGE RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT STYLES AND SIZE RESTTING */
html {
  font-size: 62.5%; /* 1rem = 10px :: 16px/10 = 0.625 :: == 62.5% */
  font-family: "Fira sans", sans-serif;
}

/* GLOBAL STYLES */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f2f2f2;
  --success-color: #28a745;
  --danger-color: #dc3545;
}

